.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
	background-image: url('../../assets/backgrounds/1_compressed.jpg');
	background-size: cover;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.inner {
		text-align: center;
		max-width: 420px;
	}
}

.content{
	color: white;
	background-color: #051632;
	// background-image: url('../../assets/backgrounds/2-compressed.jpg');

	.list {
		list-style: none;
		padding-left: 0;
	}
}
