:global(#cube-wrapper) {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:global(.cubes) {
    position: relative;

    :global(.cube) {
        position: absolute;
        height: 100px;
        width: 100px;
        margin: 0;
        left: 50%;
        animation: cube-fade-in 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        will-change: transform;

        @keyframes cube-fade-in {
            0% {
                opacity: 0;
                transform: scale(0.5);
            }
        }

        :global(*) {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        :global(.shadow) {
            background: #07427a;
            top: 40%;
        }

        :global(.sides) {
            transform-style: preserve-3d;
            perspective: 600px;

            :global(div) {
                backface-visibility: hidden;
                will-change: transform;
            }

            :global(.front) {
                transform: rotateY(0deg) translateZ(50px);
            }

            :global(.back) {
                transform: rotateY(-180deg) translateZ(50px);
            }

            :global(.left) {
                transform: rotateY(-90deg) translateZ(50px);
            }

            :global(.right) {
                transform: rotateY(90deg) translateZ(50px);
            }

            :global(.top) {
                transform: rotateX(90deg) translateZ(50px);
            }

            :global(.bottom) {
                transform: rotateX(-90deg) translateZ(50px);
            }
        }
    }
}
